header{
  /* border: 1px solid  red; */
  text-align: center;
}
main{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}



footer{
 
  text-align: center;
 

}
uL{
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  

}
.item{
 border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: aliceblue;
  border-radius: 20px;

}
.item label {
  font-size:x-large;
}

/* .item :focus+label{
  text-decoration: underline;

} */

 .item, label :hover{
  box-shadow:  3px 2px rgba(0, 0, 0, 0.489);
  cursor: pointer;

}

.item svg {
  display: flex;
  padding: 10px;

  
  margin-right: 20px;
  
 
  

}

#de:hover{
  color: rgba(246, 50, 50, 0.688);
  cursor: pointer;
  
  
  box-shadow: 1px 2px 3px black;
  border-radius: 50px;
  
 


}
 .addForm{
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px ;
  gap: 4px;
 }
 .addForm #addItem {
  border: none;
  border-bottom: 1px solid black;

 } 
 .addForm #addItem:hover {
   border: none;
   border-bottom: 1px solid black;
   box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.715);
   

 }
 .addForm button{
  background-color: rgba(4, 255, 0, 0.371)  ;
  border: none;
  height: 20px;
  border-radius: 17px;
 }
 .addForm button:hover{
  color: rgb(164, 107, 222);
  box-shadow: 1px 3px 6px  rgba(0, 0, 0, 0.544);
  cursor: pointer;
 }
#samp{
  display: flex;
  gap: 30px;
}
#de {
  height: 30px;
  color: rgb(135, 131, 126);
}
